.contrainer {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
}
.header {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(29, 132, 216);
    background-color: rgb(29, 132, 216);
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.main {
    background-color: white;
    margin: 3% 2%;
    margin-bottom: 0%;
}

#judul-besar{
    padding-right: 5px;
    font-style: italic;
    font-size: 20px;
    color: white;
}

#judul-kecil {
    font-size: 14px;
    color: lightgray

}

.menu-atas {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.menu-atas h1 {
    margin-bottom: 10px;
}

.menu-atas p {
    margin-top: 0;
    margin-bottom: 0;
}

.menu-atas button {
    width: 90%;
    padding: 10px 5px;
    border: 1px solid rgb(29, 132, 216) ;
}

#pilihan-persegi {
    margin-top: 10px;
    background-color: rgb(29, 132, 216);
    color: white;
}

#pilihan-panjang {
    background-color: white;
    color: rgb(29, 132, 216);
}

.menu-kalkulator {
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    border: 1px solid rgb(29, 132, 216);
}

.box-banner {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 132, 216);
    height: 90px;  
}

.banner-kalkulator {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.box-hitung {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.sudut-atas {
    display: flex;
    flex-direction: row;
}

.span-atas {
    margin-top: 5%;
    padding-left: 40px;
    padding-right: 40px;
}

.span-bawah {
    padding-left: 40px;
    padding-right: 40px;
}

.kotak {
    height: 80px;
    width: 80px;
    border: 3px solid rgb(194, 0, 0);
}

.rumus-luas {
    display: flex;
    font-weight: 700;
    justify-content: center;
}

.keterangan-rumus {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.perhitungan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 10px;
}

.banner-perhitungan {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.perhitungan input {
    width: 90%;
}

.button-hitung {
    color: white;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    margin: 10px;
    font-size: 12px;
    padding: 12px 28px;
}

.button-reset {
    color: white;
    background-color: #f0881f;
    border: none;
    border-radius: 4px;
    margin: 10px;
    margin-left: 90%;
    font-size: 12px;
    padding: 10px 12px;
}

.footer {
    text-align: center;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}

.footer p {
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
    font-size: 12px;
}